@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

/* ------------- || ABOUT US CONTENT ------------- */
#about-content {
    font-family: 'Josefin Sans', sans-serif;
    color: #6C757D;
    line-height: 1.8;
}


#about-content::first-letter {
    font-weight: bold;
    font-size: 2em;
    color: #008080;
}

.service-heading {
    font-size: 2em;
}

@media screen and (max-width:576px) {
    .service-heading {
        font-size: 1.5em;
    }
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    /* flex:4; */
}

.services span {
    justify-content: space-evenly;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: #008080;
    color: #b2d8d8;
    text-align: center;
    line-height: 45px;
    transition: .8s;
}

.services span:hover {
    background-color: white;
    color: #008080;
}

/* ------------- || CAROUSEL OUR TEAM ------------- */

.demo, main {
    background: #eeeeee;
}

.testimonial-about {
    background: white !important;
    text-align: center;
    padding: 30px 30px 50px;
    margin: 0 15px 100px;
    position: relative;
    margin-top: 20px;
}

.testimonial-about:before, .testimonial-about:after {
    content: "";
    border-top: 40px solid white;
    border-right: 125px solid transparent;
    position: absolute;
    bottom: -40px;
    left: 0;
}

.testimonial-about:after {
    border-right: none;
    border-left: 125px solid transparent;
    left: auto;
    right: 0;
}

.testimonial-about .icon {
    display: inline-block;
    font-size: 80px;
    color: #008080;
    margin-bottom: 20px;
    opacity: 0.6;
}

.testimonial-about .description {
    font-size: 16px;
    color: #777;
    text-align: justify;
    margin-bottom: 30px;
    opacity: 0.9;
    letter-spacing: -.5px;
}

.testimonial-about .testimonial-content {
    width: 100%;
    position: absolute;
    left: 0;
}

.testimonial-about .pic {
    display: inline-block;
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px #f4770b;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.testimonial-about .pic img {
    width: 120px;
    height: auto;
}

.testimonial-about .title {
    font-size: 15px;
    font-weight: bold;
    color: #008080;
    text-transform: capitalize;
    margin: 0 0 5px 0;
}

.testimonial-about .post {
    display: block;
    font-size: 14px;
    color: rebeccapurple;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pic img {
    width: 100px !important;
    height: 50px;
}

.owl-theme .owl-controls {
    margin-top: 20px;
}